<li class=" dropdown">
    <a href="/#" class="dropdown-toggle" data-toggle="dropdown"><i title="{{ lk_translate_current_name() }}" class="fa1 fa-lang fa-lang-ru"></i>
        &nbsp;<span>{{ lk_translate_current_name() }}</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        {% for locale,name in config('app.locales') %}
            {% if locale != lk_translate_current_code() %}
                <li>
                    <a href="#" class="js-change-locale-admin" data-locale="{{ locale }}"><span>[{{ locale|upper }}] {{ name }}</span></a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</li>
